i.icon {
    font-size: 2em;
}

body {
    background-color: rgba(64, 64, 64, 1);
    color: rgba(224, 224, 224, 1);
}

.container.main {
    margin-top: 7.0em;
}

div#form {
    background-color: rgba(145, 145, 145, 0.7);
    border-radius: 15px;
}

#text {
    background-color: rgb(201, 201, 201);
}

#text::placeholder {
    color: #666666;
    opacity: 1;
}

#sub-btn {
    background-color: silver;
}

div#top {
    background-color: #525252;
    border-radius: 12px;
    border: none;
    color: #b8b8b8;
}